@use '@angular/material' as mat;

html {
    height: 100%;
    @include mat.theme(
        (
            color: (
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: -4
        )
    );
}

.mat-mdc-form-field .mdc-floating-label, 
.mat-mdc-input-element {
    font-size: 0.875rem !important;
}

.mat-mdc-table .mat-mdc-row,
.mat-mdc-table .mat-mdc-cell {
    padding-top: 0.5rem;
    border-bottom-width: 0 !important;
}

body {
    color-scheme: light;
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    margin: 0;
    height: 100%;
}